{% extends "base.html" %}
{% block body %}
    <div class="body">
        <div class="form-card">
            <h2>Add a New Fishing Boat</h2>

            {% if error %}
                <div class="message error">{{ error }}</div>
            {% endif %}

            {% if success %}
                <div class="message success">{{ success }}</div>
            {% endif %}

            <form action="/create" method="POST">
                <input type="number" name="id" placeholder="Boat ID" class="input_field">
                <input type="text" name="name" placeholder="Boat name (e.g., WaveRunner)" class="input_field">
                <input type="text" name="type" placeholder="Boat type (e.g., Bass Boat)" class="input_field">
                <input type="number" name="owner_id" placeholder="Owner ID" class="input_field">
                <input type="number" name="rental_price" placeholder="Daily rate" class="input_field" step="0.0001">
                <input type="submit" value="Add Fishing Boat" class="input_submit">
            </form>
        </div>
    </div>
{% endblock %}
